body{
    margin: 0 auto;
    width: 70%;
}
.cakeName{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}
.cakeAbout{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}
.cakeImg{
    border-radius: 12px;
}
.reactengel{
    float: right;
}
.icer{
    position: relative;
    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding-top: 80px;
}
.bar{
    position: relative;
    text-align: center;
}
.bar span{
    font-size: 20px;
    position: relative;
    display: inline-block;
    color:#F2994A;
    font-size: 30px;
    top: 8px;
    float: left;
    left: 40px;
}
.bar div{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.sabit{
    color: #4F4F4F!important;
}
.banaColor{
    color: #F2994A;
}
.bana{
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}
.banna{
    margin-top: 0;
    padding-top: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.yellow{
    color:#F2994A;
}
.ingrTitle{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.ingrName{
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}
input{
    position: relative;
    top: 5px;
    width: 21px;
    height: 21px;
    position: relative;
    border: 1px solid #828282;
    border-radius: 4px;
}
.checkboxs p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
}
.checkboxs h3{
    font-family: Playfair Display;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}
.checkboxs h3:nth-child(2){
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.numberDivs{
    position: relative;
}
.number{
    display: inline-block;
    position: absolute;
    top: 15px;
    background: #F2994A;
    border-radius: 6px;
    padding: 3px 10px 10px 10px;
    margin: 3px;
    font-family: Playfair Display!important;
    font-style: normal!important;
    font-weight: bold!important;
    font-size: 24px!important;
    line-height: 32px!important;
    color: #FFFFFF!important;
}
.numberDiv{
    position: relative;
    padding-left: 40px;
    display: inline-block;
}

.checkboxs h1{
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
}
.footer{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}
@media screen and (max-width: 15cm) {
    body{
        width: 90%;
        margin: 0 auto;
    }
    .cakeName{
        font-size: 24px;
        line-height: 32px;
        color: #000000;
    }
    .cakeImg{
        width: 90%;
        height: auto;
        margin-left: 5%;
    }
    .reactengel{
        float: none;
    }
    .icer{
        width: 100%;
        height: auto;
        top: 0;
        margin: 0;
        padding: 0;
    }
    .icer div{
        top: 0;
        padding-left: 10px;
    }
    .bar{
        display: inline-block;
    }
    .bar:nth-child(1){
        display: block;
        width: 100%!important;
      text-align:left;
    }
    .bar:nth-child(1) div{
       position: relative;
       display:inline-block;
    }
  .resto{
        float: none;
        position: relative;
        left: 0px!important;
  }
  
    .sabit{
        color: #4F4F4F!important;
        float: none;
        position: relative;
        left: 0px!important;
    }
   
}








